<nz-page-header
      class="site-page-header"
      nzTitle="Dashboard"
      nzSubtitle="Overview and Quick Links "
    ></nz-page-header>

<div class="row">
  <div class="col-md-9">
    <div class="dash-card">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../../../assets/images/avatar.png" class="img-fluid dash-img" alt="">
        </div>
        <div class="col-md-10">
          <h5>Welcome, {{user.username}}</h5>
          <p>to your Member Dashboard</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="ad-progress-bar">
            <nz-progress
              [nzPercent]=" progressBar "
              [nzStrokeColor]="{ '0%': '#ffd36e', '100%': '#ffa104' }"
              nzStatus="active"
            ></nz-progress>
          </div>
        </div>
        <div class="col-md-4">
          <button class="btn ux-button" routerLink="../recruiter-profile" >Complete Profile</button>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-md-3">
      <p>Another Card</p>
  </div>
</div>




