<div class="container">
    <form (submit)="onAddUser(userForm)" #userForm="ngForm">
        <div class="mb-3">
          <input 
          type="text"
          class="form-control"
          name="email"
          placeholder="Email"
          ngModel
          required
          #email = "ngModel"
          >
        </div>
        <p *ngIf="email.invalid">This is not valid</p>
        <div class="mb-3">
          <input 
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          ngModel
          required
          >
        </div>
        <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            name="password"
            placeholder="Password"
            ngModel
            required
            >
          </div>
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            name="userType"
            placeholder="User Type"
            ngModel
            required
            >
          </div>
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            name="professionalHeadline"
            placeholder="Professional Headline"
            ngModel
            required
            >
          </div>
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            name="summary"
            placeholder="Summary"
            ngModel
            required
            >
          </div>
          <div class="mb-3">
            <input 
            type="text"
            class="form-control"
            name="hourlyRate"
            placeholder="Hourly Rate"
            ngModel
            required
            >
          </div>
        <button 
        type="submit" 
        class="btn btn-primary">
            Submit
        </button>
      </form>
</div>

<br>

<hr>

<br>

<!-- <div class="container">
    <nz-table  [nzData]="users">
        <thead>
          <tr>
            <th>Email</th>
            <th>Username</th>
            <th>Password</th>
            <th>User Type</th>
            <th>Professional Headline</th>
            <th>Summary</th>
            <th>Hourly Rate</th>
            <th>Date Created</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.professionalHeadline}}</td>
            <td>{{user.summary}}</td>
            <td>{{user.hourlyRate}}</td>
            <td>{{user.dateCreated}}</td>
          </tr>
        </tbody>
      </nz-table>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nz-table  [nzData]="users">
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>User Type</th>
                    <th>Professional Headline</th>
                    <th>Summary</th>
                    <th>Hourly Rate</th>
                    <th>Date Created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user2 of users">
                    <td>{{user2.email}}</td>
                    <td>{{user2.username}}</td>
                    <td>{{user2.password}}</td>
                    <td>{{user2.userType}}</td>
                    <td>{{user2.professionalHeadline}}</td>
                    <td>{{user2.summary}}</td>
                    <td>{{user2.hourlyRate}}</td>
                    <td>{{user2.dateCreated}}</td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <nz-table  [nzData]="skills">
                <thead>
                  <tr>
                    <th>Skill Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let skill of skills">
                    <td>{{skill.skillName}}</td>
                  </tr>
                </tbody>
              </nz-table>
        </div>
    </div>
</div> -->


