<div class="d-flex justify-content-center">
    <div class="signup-container ">
        
          <div class="signup-steps-content ">
            <h3 class="placeholder-logo">Basic Information</h3>
            <h5 class="signup-helper-text" style="text-align: center;">To create an account, please fill in the basic information below</h5>

              <div class="signup-section">
                <form (submit)="onAddUser(userForm)" #userForm="ngForm">
                  <div class="mb-3">
                    <input 
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                    ngModel
                    required
                    #email = "ngModel"
                    email
                    >
                  </div>
                  
                  <!-- <p *ngIf="email.invalid">This is not valid</p> -->
                  <div class="mb-3">
                    <input 
                    type="text"
                    class="form-control"
                    name="username"
                    placeholder="Username"
                    ngModel
                    required
                    >
                  </div>
                  <div class="mb-3">
                      <input 
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                      ngModel
                      required
                      minlength="6"
                      >
                    </div>
                    <div class="mb-3">
                      <select (change)="selectChangeHandler($event)" class="form-select" aria-label="Default select example" name="selectedType">
                        <option value="individual">Individual</option>
                        <option value="corporate">Corporate</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <input 
                      type="text"
                      class="form-control"
                      name="professionalHeadline"
                      placeholder="Professional Headline"
                      ngModel
                      required
                      >
                    </div>
                    <div class="mb-3">
                      <input 
                      type="text"
                      class="form-control"
                      name="summary"
                      placeholder="Summary"
                      ngModel
                      required
                      >
                    </div>
                    <div class="mb-3">
                      <input 
                      type="text"
                      class="form-control"
                      name="hourlyRate"
                      placeholder="Hourly Rate"
                      ngModel
                      required
                      >
                    </div>
                    <button 
                    type="submit" 
                    class="btn login-button"
                    [disabled]="!userForm.valid">
                        Sign Up
                    </button>
               
              </form>
              </div>

              

            </div>
    </div>  
</div> 

