<h3 class="placeholder-logo">WHAT SKILLS ARE REQUIRED</h3>
<div class="d-flex justify-content-center form-area">
        <div class="new-ad-container ">
            <form>
                <div class="mb-3">
                  <nz-select
                    [(ngModel)]="listOfTagOptions"
                    nzMode="tags"
                    [nzTokenSeparators]="[',']"
                    nzPlaceHolder="automatic tokenization"
                    nzPlaceHolder="Filter by skills"
                    class="filter-select"
                    >
                    <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                </div>
              </form>
        </div>  
</div>