
<div class="login-page">
    <div class="container card-control">
        <div class="login-section">
            <h3 class="placeholder-logo1"><img src="../../../assets/images/linkcookie-logo.png" class="img-fluid navbar-logo" alt=""></h3>
            <h1 class="signup-heading">LETS START LINKING! </h1>
            <p class="login-para">The last link you&apos;ll ever need</p>
            <div class="d-flex justify-content-center">
                    <div class="login-container ">
                        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                            <div class="mb-3">
                              <input type="email" class="form-control login-input" name="email" ngModel  aria-describedby="emailHelp"  placeholder="Email" #emailInput="ngModel" required email>
                              <p *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email</p>
                            </div>
                            <div class="mb-3">
                              <input type="password" name="password" ngModel class="form-control login-input" placeholder="Password" #passwordInput="ngModel" required>
                            </div>

                            <div class="d-flex justify-content-center">
                              <button 
                              type="submit"  
                              class="btn link-primary responsive-click log-in"
                              [disabled]="!loginForm.valid ">
                              <span *ngIf="!loginForm.valid">
                                <svg class="primary-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M5.094 16.32A8 8 0 0 0 16.32 5.094L5.094 16.32zM3.68 14.906L14.906 3.68A8 8 0 0 0 3.68 14.906zM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z"></path></svg>
                              </span>       
                              Log In</button>
                            </div>
                                
                          </form>
                          <br>
                          <hr>
                          <br>
                          <div class="row ">
                            <div class="col-md-12 d-flex justify-content-end sign-log-switch">New to Link Cookie? <a routerLink="/signup"> Get Started</a></div>
                          </div>
                    </div>  
            </div>
        </div>
        <div class="go-home-section">
            <a routerLink="/home/welcome" class="go-home"><i class="bi bi-arrow-left button-icon"></i>  Go Home</a>
        </div>
    </div>
</div>
