

<div class="container-fluid hero-section">
    <div class="row">
      <div class="col-lg-5">
        <img src="../../../assets/images/hero1.png" class="d-block w-100 hero-img img-fluid" alt="...">
    </div>
      <div class="col-lg-7  d-flex align-items-center">
          <div>
            <h1 class="hero-header">  The last <span class="hero-text">LINK</span> you'll ever need!
            </h1>
            <h3 class="hero-subheader">Join the #1 community  for job seekers and recruiters! Link Cookie is a platform that helps both job seekers
              to find jobs and recruiters to find talent!
            </h3>
            <br><br>
            <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
              <button class="btn hero-link-primary btn-sm">Find Work<i class="bi bi-arrow-right button-icon"></i></button>
              <button class="btn hero-link-secondary btn-sm">Find Talent<i class="bi bi-arrow-right button-icon"></i></button>
            </div>
          </div>

      </div>
      
    </div>
</div>
<br>





<div class="container stats-section">
    <div class="row">
      <div class="col-md-12">
        <p class="link-description"> Link Cookie is a place for <span class="link-changing">{{ linkText }}</span> to link</p>
      </div>
    </div>
  </div>

  
  
  
  <div class="container-fluid partners">
    <div class="row partners-content">
      <div class="col-md-4 d-flex align-items-center">
        <img src="../../../assets/images/home-banner.png" class="d-block w-100 banner-img img-fluid" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center ">
        <div class="row">
          <div class="col-md-12 partners-sub">
          Job finding and worker recruitment made simple with just one LINK!
          </div>
          <div class="row">
            <div class="col-md-4 bullet-list">
              <i class="bi bi-check2-circle bullet-icon"></i> Simple and easy to use
            </div>
            <div class="col-md-4 bullet-list">
              <i class="bi bi-phone-flip bullet-icon"></i> Accessible on any device
            </div>
            <div class="col-md-4 bullet-list">
              <i class="bi bi-clock bullet-icon"></i> Use any time
            </div>
          </div>
        </div>
        <br>
        
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h5 class="details-header-sm">Are you looking for a job?</h5>
          <h3 class="details-header-lg">A Link For Job Seekers</h3>
          <p>We didnt design our courses to share our skills, but to ensure you can acquire 
            them too! Theres a big difference between the two. Youve probably seen courses taught 
            by experts. But the learning experience isnt good. Being an expert doesnt always
            mean being a great teacher.</p>
          <div>
            <ul>
              <li>Easy to use</li>
              <li>Quick to set up</li>
              <li>Trusted by suppliers all over the world</li>
              <li>Yet another reason</li>
              <li>Affordable!</li>
            </ul>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
            <button class="learn-more buttonp"  routerLink="../new-ad">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Find Work</span>
            </button>
          </div>
        </div>  
      </div>
  
      <div class="col-md-4">
        <img src="../../../assets/images/jobseekers.png" class="d-block w-100 hero-img img-fluid details-img" alt="...">
      </div>
    </div>
  </div>
  
  <div class="container">
    <hr>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/recruiters.png" class="d-block w-100 hero-img img-fluid details-img" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h5 class="details-header-sm">Are you looking for employees?</h5>
          <h3 class="details-header-lg">A Link For Recruiters</h3>
          <p>We didnt design our courses to share our skills, but to ensure you can acquire 
            them too! Theres a big difference between the two. Youve probably seen courses taught 
            by experts. But the learning experience isnt good. Being an expert doesnt always
             mean being a great teacher.</p>
          <div>
            <ul>
              <li>Easy to use</li>
              <li>Quick to set up</li>
              <li>Trusted by suppliers all over the world</li>
              <li>Yet another reason</li>
              <li>Affordable!</li>
            </ul>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
            <button class="learn-more buttonp"  routerLink="../new-ad">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Find Talent</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--   
  
  <div class="container">
    <h1>Get Linked Today</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">

        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
 -->



  