<!-- <nz-space nzSize="middle">
  <nz-skeleton-element
    *nzSpaceItem
    nzType="button"
    [nzActive]="elementActive"
    [nzSize]="elementSize"
    [nzShape]="buttonShape"
  ></nz-skeleton-element>
  <nz-skeleton-element
    *nzSpaceItem
    nzType="avatar"
    [nzActive]="elementActive"
    [nzSize]="elementSize"
    [nzShape]="avatarShape"
  ></nz-skeleton-element>
  <nz-skeleton-element
    *nzSpaceItem
    nzType="input"
    [nzActive]="elementActive"
    [nzSize]="elementSize"
    style="width:200px"
  ></nz-skeleton-element>
</nz-space>
<br />
<br />
<nz-skeleton-element nzType="image" [nzActive]="elementActive"></nz-skeleton-element>
<div nz-row nzAlign="middle" [nzGutter]="8">
  <div nz-col nzSpan="10">
    Size:
    <nz-radio-group [(ngModel)]="elementSize">
      <label nz-radio-button nzValue="default">Default</label>
      <label nz-radio-button nzValue="large">Large</label>
      <label nz-radio-button nzValue="small">Small</label>
    </nz-radio-group>
  </div>
  <div nz-col nzSpan="5">
    Active:
    <nz-switch [(ngModel)]="elementActive"></nz-switch>
  </div>
</div>
<br />
<br />
<div nz-row nzAlign="middle" [nzGutter]="8">
  <div nz-col nzSpan="10">
    Button Shape:
    <nz-radio-group [(ngModel)]="buttonShape">
      <label nz-radio-button nzValue="default">Default</label>
      <label nz-radio-button nzValue="circle">Circle</label>
      <label nz-radio-button nzValue="round">Round</label>
    </nz-radio-group>
  </div>
  <div nz-col nzSpan="10">
    Avatar Shape:
    <nz-radio-group [(ngModel)]="avatarShape">
      <label nz-radio-button nzValue="circle">Circle</label>
      <label nz-radio-button nzValue="square">Square</label>
    </nz-radio-group>
  </div>
</div> -->





<div class="wrap  d-flex align-items-center">
  <img src="../../../assets/images/back3.png" alt="" class="wrap-bg img-fluid">
</div>

<div>
  <div class="background-img-section">
    <div class="container-fluid hero-section">
      <div class="row">
        <div class="col-lg-5">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="4000">
                <img src="../../../assets/images/hero1.png" class="d-block w-100 hero-img img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="4000">
                <img src="../../../assets/images/hero3.png" class="d-block w-100 hero-img img-fluid" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
        <div class="col-lg-7  d-flex align-items-center">
            <div>
              <h1 class="hero-header">  The last <span class="hero-text">LINK</span> you will ever need!
              </h1>
              <h3 class="hero-subheader">Join the top community talent! <span style="color: #ffa104; font-weight: bold;">LinkCookie</span>  is a platform that helps both projects to find talent, consultants to find business opportunities, and job seekers to find jobs.
              </h3>
              <br><br>
              <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
                <button class="btn hero-link-primary btn-sm" routerLink="../for-recruiters">Find Freelance talent for your next project<i class="bi bi-arrow-right button-icon"></i></button>
                <!-- <button class="btn hero-link-secondary btn-sm" routerLink="../for-recruiters">Find Freelance talent for your next project<i class="bi bi-arrow-right button-icon"></i></button> -->
              </div>        
            </div>
        </div>
      </div>
      <div class="container stats-section">
        <div class="row">
          <div class="col-md-12">
            <p class="link-description"> A place for <span class="link-changing">{{ linkText }}</span> to link</p>
          </div>
        </div>
      </div>  
  </div>
  </div>
</div>

<br>



<div class="container-fluid partners">
  <div class="section-heading ">
    <h3 class="section-header">Everything you need  <span class="header-yellow">to get linked!</span> </h3>
    <!-- <p class="section-description">Meet some of the companies that have worked with us and that trust <span style="color: #ffa104; font-weight: bold;">LinkCookie</span></p> -->
    <br>
  </div>
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
        <div class="feature-wrap">
            <div class="feature-icon">
              <i class="bi bi-people feature-icon1"></i>
            </div>
            <div class="feature-content">
                <h4 class="feature-title">Affordable talent</h4>
                <p class="feature-paragraph">Find affordable and qualified freelancers for your next project using the LinkCookie database.</p>
                <a routerLink="../for-recruiters" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="feature-wrap">
          <div class="feature-icon">
            <i class="bi bi-briefcase feature-icon1"></i>
          </div>
          <div class="feature-content">
              <h4 class="feature-title">Job finder</h4>
              <p class="feature-paragraph">Find your next big job opportunity through the LinkCookie community.</p>
                <a routerLink="../for-jobseekers" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
          </div>
      </div>
  </div>
  <div class="col-md-4 d-flex justify-content-center">
    <div class="feature-wrap">
        <div class="feature-icon">
          <i class="bi bi-box-seam feature-icon1"></i>
        </div>
        <div class="feature-content">
            <h4 class="feature-title">Tenders</h4>
            <p class="feature-paragraph">Publish your next big idea and project to attract the best talent.</p>
              <a routerLink="../tenders" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
        </div>
    </div>
</div>
  </div>
</div>




  
  
  
  <!-- <div class="container-fluid partners">
    <div class="row partners-content">
      <div class="col-md-4 d-flex align-items-center">
        <img src="../../../assets/images/home-banner.png" class="d-block w-100 banner-img img-fluid" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center ">
        <div class="row">
          <div class="col-md-12 partners-sub">
          Job finding and worker recruitment made simple with just one <span style="color: #ffa104; border-bottom: 3px solid #ffa104;">LINK!</span>
          </div>
          <div class="row">
            <div class="col-md-4 bullet-list">
              <i class="bi bi-check2-circle bullet-icon"></i> Simple and easy to use
            </div>
            <div class="col-md-4 bullet-list">
              <i class="bi bi-phone-flip bullet-icon"></i> Accessible on any device
            </div>
            <div class="col-md-4 bullet-list">
              <i class="bi bi-clock bullet-icon"></i> Use any time
            </div>
          </div>
        </div>
        <br>
        
      </div>
    </div>
  </div> -->
  
<br><br><br><br>

<div class="section-heading ">
  <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
    <h5 class="section-tag">PARTNERS</h5>
  </div>
  <h3 class="section-header">Our  <span class="header-yellow">Partners</span> </h3>
  <p class="section-description">Meet some of the companies that have worked with us and that trust <span style="color: #ffa104; font-weight: bold;">LinkCookie</span></p>
</div>

<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
		</div>
		<div class="slide">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
		</div>
	</div>
</div>

<br><br><br><br>


<div class="section-heading ">
  <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
    <h5 class="section-tag">TALENT</h5>
  </div>
  <h3 class="section-header">Hire  <span class="header-yellow">Talent</span> </h3>
  <p class="section-description">We have a database full of telent ready to make you a success</p>
</div>


  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex align-items-center">
        <div>
          <!-- <h5 class="details-header-sm">Are you looking for a job?</h5> -->
          <h3 class="details-header-lg">A Link For Freelance Talent</h3>
          <p class="description-p">Link with qualified freelance talent and hire them to bring your business to the next
            level. With <span style="color: #ffa104; font-weight: bold;">LinkCookie</span> you can
            customize the service you need by quickly hiring the right talent. We ensure quality 
            through protected and upfront payment and support from our customer service team. <br>
            LinkCookie specializations:
          </p>
          <div>
            <ul class="welcome-list">
              <li><i class="bi bi-check2-circle bullet-icon"></i>Digital Marketing and Sales</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Programming & IT</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Graphic & Creative Design</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Writing & Translation</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Finance & Accounting</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Business Services</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Other specializations</li>
            </ul>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
            <button class="learn-more buttonp"  routerLink="../new-ad">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Find Work</span>
            </button>
          </div>
        </div>  
      </div>
  
      <div class="col-md-5">
        <img src="../../../assets/images/jobseekers.png" class="d-block w-100 hero-img img-fluid details-img" alt="...">
      </div>
    </div>
  </div>
  
  <!-- <div class="container">
    <hr>
  </div>

  <br><br>
  
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">WORK</h5>
    </div>
    <h3 class="section-header">Get  <span class="header-yellow">Employed</span> </h3>
    <p class="section-description">Our site has businesses looking to hire</p>
  </div>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="../../../assets/images/recruiters.png" class="d-block w-100 hero-img img-fluid details-img" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h5 class="details-header-sm">Are you looking for employees?</h5>
          <h3 class="details-header-lg">A Link For Recruiters</h3>
          <p>We didnt design our courses to share our skills, but to ensure you can acquire 
            them too! Theres a big difference between the two. Youve probably seen courses taught 
            by experts. But the learning experience isnt good. Being an expert doesnt always
             mean being a great teacher.</p>
          <div>
            <ul class="welcome-list">
              <li><i class="bi bi-check2-circle bullet-icon"></i>Easy to use</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Quick to set up</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Trusted by suppliers all over the world</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Yet another reason</li>
              <li><i class="bi bi-check2-circle bullet-icon"></i>Affordable!</li>
            </ul>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
            <button class="learn-more buttonp"  routerLink="../new-ad">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Find Talent</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <br><br><br>
<!--   
  
  <div class="container">
    <h1>Get Linked Today</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">

        </div>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
 -->


 <footer id="site-footer">

  <!-- <section class="horizontal-footer-section" id="footer-top-section">
      <div id="footer-logo">
          <picture>
              <img src="https://raw.githubusercontent.com/taviskaron/t-div-headers/main/img/logo3.png" alt="footer logo" role="presentation">
          </picture>
      </div>
  </section> -->

  <section class="horizontal-footer-section" id="footer-middle-section">
      <div id="footer-about" class="footer-columns footer-columns-large">
          <h1>Our Address</h1>
          <address>
              <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">Number 515, Group 5 Siem Reap, Cambodia</p>
              <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">+855 69 944 841</p>
              <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">talk2us@linkcookie.com</p>
              <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 6:00 PM</p>
          </address>
          <h1> Our Newsletter</h1>
          <a href="#" class="footer-button" role="button">Subscribe</a>
      </div>
      <div class="footer-columns">
          <h1>Overview</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Services </a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Pricing</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Portfolio</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">News</a>
              </li>
          </ul>
      </div>
      <div class="footer-columns">
          <h1>Resources</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">FAQ</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Media</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Guides</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Free Resources</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Testimonials</a>
              </li>
          </ul>
      </div>
      <div class="footer-columns">
          <h1>Information</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">About Us</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
              </li>
              <li class="footer-column-menu-item">
                  <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Message Us</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Leave Feedback</a>
              </li>
          </ul>
      </div>
  </section>

</footer>


  