

<div>
  <div class="background-img-section">
    <div class="container-fluid hero-section">
      <div class="row top-section">
        <div class="col-lg-6  d-flex align-items-center justify-content-center img-wrap" style="padding: 20px;">
          <!-- <div class="img-wrap"> -->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                  <img src="../../../assets/images/hero1.svg" class="d-block w-100 hero-img img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../../assets/images/hero2.svg" class="d-block w-100 hero-img img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../../assets/images/hero3.svg" class="d-block w-100 hero-img img-fluid" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../../assets/images/hero4.svg" class="d-block w-100 hero-img img-fluid" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <!-- </div> -->
          
      </div>
        <div class="col-lg-6  d-flex align-items-center" style="padding: 20px;">
            <div>
              <h1 class="hero-header">  The last <span class="hero-text">LINK</span> you will ever need!
              </h1>
              <p class="hero-paragraph">Join the top community for talent! <span style="color: #ffa104; font-weight: bold;">LinkCookie</span>  is a platform that helps both projects to find talent, consultants to find business opportunities, and job seekers to find jobs.
              </p>
              <div class="row d-flex align-items-center">
                
              </div>        
            </div>
        </div>
          <div class="container stats-section">
            <div class="row bottom-section">
              <div class="col-md-12">
                <div>
                  <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
                    <div class="row hero-form">
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-3">
                        <div class="mb-5 ">
                            <select (change)="selectChangeHandler($event)" class="form-select" name="selectedType" placeholder="I am looking for..." required ngModel >
                                <option value="">I am a ...</option>
                                <option value="business">Business</option>
                                <option value="freelancer">Freelancer</option>
                                <option value="consultant">Consultant</option>
                            </select>
                            <!-- <label for="floatingSelect">I am a...</label> -->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="mb-5 ">
                            <select (change)="selectSearchChangeHandler($event)" class="form-select" name="selectedSearch" placeholder="I am looking for..." required ngModel>
                                <option value="">I am looking for...</option>
                                <option value="employees">Employees</option>
                                <option value="tenders">Tenders</option>
                                <option value="work">Work</option>
                            </select>
                            <!-- <label for="floatingSelect">I am looking for...</label> -->
                        </div>
                      </div>
                      <div class="col-md-2">
                        <button class="btn hero-link-primary responsive-click" type="submit">
                          Apply
                        </button>
                      </div>
                      <div class="col-md-2">

                      </div>
                    </div>
                  </form>
                </div>
                <div class="spacer"></div>
                <p class="link-description"> A place for <span class="link-changing">{{ linkText }}</span> to link</p>
              </div>
            </div>
          </div> 
      </div>
  </div>
  </div>
</div>

<div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">WORK</h5>
    </div>
    <h3 class="section-header">How It  <span class="header-yellow">Works</span> </h3>
    <p class="section-description"><span style="color: #ffa104; font-weight: bold;">LinkCookie</span> allows you to create links in 3 easy steps</p>
  </div>

  <div class="container steps">
    <div class="row">
      <div class="col-md-4 how-section">
        <div class="how-area">
          <!-- <div class="how-icon d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M3.534 10.07a1 1 0 1 1 .733 1.86A3.579 3.579 0 0 0 2 15.26V17a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1.647a3.658 3.658 0 0 0-2.356-3.419 1 1 0 1 1 .712-1.868A5.658 5.658 0 0 1 14 15.353V17a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3v-1.74a5.579 5.579 0 0 1 3.534-5.19zM7 0a4 4 0 0 1 4 4v2a4 4 0 1 1-8 0V4a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v2a2 2 0 1 0 4 0V4a2 2 0 0 0-2-2zm10 3h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0V7h-2a1 1 0 0 1 0-2h2V3a1 1 0 0 1 2 0v2z"></path></svg>
          </div> -->
          <img src="../../../assets/images/how2.svg" class="how-it-img" alt="">
          <div class="how-header">
            Create Account
          </div>
          <div class="how-text">
            Create your LinkCookie Account
          </div>
        </div>
      </div>
      <div class="col-md-4 how-section">
        <div class="how-area ">
          <!-- <div class="how-icon d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -2 24 24" width="24" fill="currentColor"><path d="M3 0h10a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zm0 2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3zm2 1h6a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2zm0 12h2a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2zm0-4h6a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2zm0-4h6a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2z"></path></svg>
          </div> -->
          <img src="../../../assets/images/how1.svg" class="how-it-img" alt="">
          <div class="how-header">
            Update Profile
          </div>
          <div class="how-text">
            Update your profile to enhance your account
          </div>
        </div>
      </div>
      <div class="col-md-4 how-section">
        <div class="how-area ">
          <!-- <div class="how-icon d-flex justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2.5 24 24" width="24" fill="currentColor"><path d="M3 0h14a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3h-6.958l-6.444 4.808A1 1 0 0 1 2 18.006V14a2 2 0 0 1-2-2V3a3 3 0 0 1 3-3zm6.378 12H17a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1 1 1 0 0 1 1 1v3.013L9.378 12zM13 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM7 9a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
          </div> -->
          <img src="../../../assets/images/how3.svg" class="how-it-img" alt="">
          <div class="how-header">
            Start Linking
          </div>
          <div class="how-text">
            Use our advanced system to search for links
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>



<!-- <div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">SERVICES</h5>
    </div>
    <h3 class="section-header">Our  <span class="header-yellow">Services</span> </h3>
    <p class="section-description">Meet some of the companies that have worked with us and that trust <span style="color: #ffa104; font-weight: bold;">LinkCookie</span></p>
  </div>

<div class="container-fluid">
  <div class="row about-row">
    <div class="col-md-3 about-card-area">
      <div class="about-card">
        <div class="about-img d-flex justify-content-center">
          <img src="../../../assets/images/about1.svg" class="about-img" alt="">
        </div>
        <div class="about-header">
          <h5>Are you a freelancer seeking gigs?</h5>
        </div>
        <div class="about-paragraph">
          No cost until you hire Interview potential fits for your job, negotiate rates, and only pay for work you approve.
        </div>
      </div>
    </div>
    <div class="col-md-3 about-card-area">
      <div class="about-card">
        <div class="about-img">
          <img src="../../../assets/images/about2.svg" class="about-img" alt="">
        </div>
        <div class="about-header">
          <h5>Are you a professional seeking employment?</h5>
        </div>
        <div class="about-paragraph">
          No cost until you hire Interview potential fits for your job, negotiate rates, and only pay for work you approve.
        </div>
      </div>
    </div>
    <div class="col-md-3 about-card-area">
      <div class="about-card">
        <div class="about-img">
          <img src="../../../assets/images/about3.svg" class="about-img" alt="">
        </div>
        <div class="about-header">
          <h5>Are you a business looking to hire?</h5>
        </div>
        <div class="about-paragraph">
          No cost until you hire Interview potential fits for your job, negotiate rates, and only pay for work you approve.
        </div>
      </div>
    </div>
    <div class="col-md-3 about-card-area">
      <div class="about-card">
        <div class="about-img">
          <img src="../../../assets/images/about4.svg" class="about-img" alt="">
        </div>
        <div class="about-header">
          <h5>Are you a business looking for tenders?</h5>
        </div>
        <div class="about-paragraph">
          No cost until you hire Interview potential fits for your job, negotiate rates, and only pay for work you approve.
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">TALENT</h5>
    </div>
    <h3 class="section-header">Hire  <span class="header-yellow">Talent</span> </h3>
    <p class="section-description">We have a database full of talent ready to make you a success.</p>
  </div>
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-7 d-flex align-items-center">
          <img src="../../../assets/images/links.jpg" class="d-block w-100 link-img img-fluid details-img" alt="...">
        </div>
    
        <div class="col-md-5">
          <div style="padding: 30px;">
            <h3 class="details-header-lg">A Link For Qualified and Freelance Talent</h3>
            <p class="description-p">Link with qualified professionals and freelance talent and hire them to take your business to the next
              level. With <span style="color: #ffa104; font-weight: bold;">LinkCookie</span> you can
              customize the service you need by quickly hiring the right talent. We ensure quality 
              through protected and upfront payment and support from our customer service team. <br>
              LinkCookie specializations:
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
              <button class="btn hero-link-primary responsive-click" type="submit">
                Apply
              </button>
            </div>
          </div> 
        </div>
      </div>
    </div>
</div>



<div class="spacer"></div>



<div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">TALENT</h5>
    </div>
    <h3 class="section-header">Hire  <span class="header-yellow">Talent</span> </h3>
    <p class="section-description">We have a database full of talent ready to make you a success.</p>
  </div>
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-5 d-flex align-items-center">
          <div>
            <!-- <h5 class="details-header-sm">Are you looking for a job?</h5> -->
            <h3 class="details-header-lg">A Link For Qualified and Freelance Talent</h3>
            <p class="description-p">Link with qualified professionals and freelance talent and hire them to take your business to the next
              level. With <span style="color: #ffa104; font-weight: bold;">LinkCookie</span> you can
              customize the service you need by quickly hiring the right talent. We ensure quality 
              through protected and upfront payment and support from our customer service team. <br>
              LinkCookie specializations:
            </p>
            <div>
              <ul class="welcome-list">
                <li><i class="bi bi-check2-circle bullet-icon"></i>Digital Marketing and Sales</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Programming & IT</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Graphic & Creative Design</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Writing & Translation</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Finance & Accounting</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Business Services</li>
                <li><i class="bi bi-check2-circle bullet-icon"></i>Other specializations</li>
              </ul>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-md-start">
              <button class="btn hero-link-primary responsive-click" type="submit">
                Apply
              </button>
            </div>
          </div>  
        </div>
    
        <div class="col-md-7">
          <img src="../../../assets/images/link2.jpg" class="d-block w-100 link-img img-fluid details-img" alt="...">
        </div>
      </div>
    </div>
</div>

<div class="spacer"></div>

<div class="container-fluid partners">
  <div class="section-heading ">
    <div class="spacer"></div>
    <h3 class="section-header">Everything you need  <span class="header-yellow">to get linked!</span> </h3>
    <div class="spacer"></div>
    <!-- <p class="section-description">Meet some of the companies that have worked with us and that trust <span style="color: #ffa104; font-weight: bold;">LinkCookie</span></p> -->
    <br>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex justify-content-center">
          <div class="feature-wrap">
              <div class="feature-icon">
                <i class="bi bi-people feature-icon1"></i>
              </div>
              <div class="feature-content">
                  <h4 class="feature-title">Affordable Talent</h4>
                  <p class="feature-paragraph">Find affordable and qualified experts for your next project on LinkCookie. Freelancers and professionals are listed on our database.</p>
                  <a routerLink="../for-recruiters" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
              </div>
          </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="feature-wrap">
            <div class="feature-icon">
              <i class="bi bi-briefcase feature-icon1"></i>
            </div>
            <div class="feature-content">
                <h4 class="feature-title">Job Finder</h4>
                <p class="feature-paragraph">Find your next big career opportunity through the LinkCookie community.</p>
                  <a routerLink="../for-jobseekers" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
      <div class="feature-wrap">
          <div class="feature-icon">
            <i class="bi bi-box-seam feature-icon1"></i>
          </div>
          <div class="feature-content">
              <h4 class="feature-title">Tenders</h4>
              <p class="feature-paragraph">Attract the best talent by publishing your next big idea and project.</p>
                <a routerLink="../tenders" class="learn-more">Learn More <i class="bi bi-arrow-right button-icon"></i></a>
          </div>
      </div>
  </div>
    </div>
  </div>
  
  <div class="spacer"></div>
</div>

<div class="spacer"></div>

<div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">PARTNERS</h5>
    </div>
    <h3 class="section-header">Our  <span class="header-yellow">Partners</span> </h3>
    <p class="section-description">Meet some of the companies that have worked with us and that trust <span style="color: #ffa104; font-weight: bold;">LinkCookie</span></p>
  </div>
  
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>


<!-- <div class="padded-section">
  <div class="section-heading ">
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="section-tag">JOBS</h5>
    </div>
    <h3 class="section-header">Top  <span class="header-yellow">Gigs</span> </h3>
    <p class="section-description">Get started with some of the top trending free gigs.</p>
  </div>


  <div class="container">
    <nz-tabset>
      <nz-tab nzTitle="Top Skills">
        
      </nz-tab>
      <nz-tab nzTitle="Trending">
        
      </nz-tab>
      <nz-tab nzTitle="Top Trending">
        
      </nz-tab>
    </nz-tabset>
  </div>
</div> -->




  <div class="padded-section">
    <div class="section-heading ">
      <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
        <h5 class="section-tag">CONTACT</h5>
      </div>
      <h3 class="section-header">Contact  <span class="header-yellow">Us</span> </h3>
      <p class="section-description">We care about our clients. Let us know how we can help you.</p>
    </div>
<div class="container contact-section">
  <div class="row">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="../../../assets/images/care.svg" alt="" style="width: auto; height: 100%; max-height: 200px;">
    </div>
    <div class="col-md-8">
      <form>
        <div class="mb-3">
          <input 
          type="text"
          class="form-control landing"
          name="name"
          placeholder="Name"
          ngModel
          required
          >
        </div>
        <div class="mb-3">
          <input 
          type="email"
          class="form-control landing"
          name="email"
          placeholder="Email"
          ngModel
          required
          #email = "ngModel"
          email
          >
        </div>
        <div class="mb-3">
          <textarea class="form-control landing" aria-label="With textarea" placeholder="Message" rows="5"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn hero-link-primary responsive-click" type="submit">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
    
</div>

<div class="spacer"></div>

 <footer id="site-footer">


  

  <div class="container">
    <section class="horizontal-footer-section" id="footer-middle-section">
      <div id="footer-about" class="footer-columns footer-columns-large">
          <h1 class="footer-header">Our Address</h1>
          <address>
              <p class="footer-paragraph">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -1.5 24 24" width="24" fill="currentColor"><path d="M7 20.565c-4.667-6.09-7-10.423-7-13a7 7 0 1 1 14 0c0 2.577-2.333 6.91-7 13zm0-9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path></svg>
                Number 515, Group 5 Siem Reap, Cambodia
              </p>
              <p class="footer-paragraph">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 -2 24 24" width="24" fill="currentColor"><path d="M3 0h6a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zm0 2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3zm3 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path></svg>
                <a href="tel:85569944841">+855 69 944 841</a>
              </p>
              <p class="footer-paragraph">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -5 24 24" width="24" fill="currentColor"><path d="M2 0h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 2v10h16V2H2zm3 6h6a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2zm10-5h2v2h-2V3z"></path></svg>
                <a href="mailto:talk2us@linkcookie.com">talk2us@linkcookie.com</a>
              </p>
              <p class="footer-paragraph">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M11 9h4a1 1 0 0 1 0 2h-5a1 1 0 0 1-1-1V4a1 1 0 1 1 2 0v5zm-1 11C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16z"></path></svg>
                8:00 AM – 6:00 PM
              </p>
          </address>
      </div>
      <div class="footer-columns">
          <h1 class="footer-header">Overview</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Services </a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Pricing</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Portfolio</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">News</a>
              </li>
          </ul>
      </div>
      <div class="footer-columns">
          <h1 class="footer-header">Resources</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">FAQ</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Media</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Guides</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Free Resources</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Testimonials</a>
              </li>
          </ul>
      </div>
      <div class="footer-columns">
          <h1 class="footer-header">Information</h1>
          <ul class="footer-column-menu" role="menu">
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link" routerLink="../general-terms">General Terms</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link" routerLink="../terms">Terms of Service</a>
              </li>
              <li class="footer-column-menu-item">
                  <a href="#" class="footer-column-menu-item-link" routerLink="../privacy" role="menuitem">Privacy & Cookies Policy</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Message Us</a>
              </li>
              <li class="footer-column-menu-item" role="menuitem">
                  <a href="#" class="footer-column-menu-item-link">Leave Feedback</a>
              </li>
          </ul>
      </div>

      
  </section>

  <div>
    <div class="social-media-section">
      <span class="social-media-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="social-icon-style" viewBox="-7 -2 24 24" width="24" fill="currentColor"><path d="M2.046 3.865v2.748H.032v3.36h2.014v9.986H6.18V9.974h2.775s.26-1.611.386-3.373H6.197V4.303c0-.343.45-.805.896-.805h2.254V0H6.283c-4.34 0-4.237 3.363-4.237 3.865z"></path></svg>
      </span>
      <span class="social-media-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="social-icon-style" viewBox="-2 -4 24 24" width="24" fill="currentColor"><path d="M20 1.907a8.292 8.292 0 0 1-2.356.637A4.07 4.07 0 0 0 19.448.31a8.349 8.349 0 0 1-2.607.98A4.12 4.12 0 0 0 13.846.015c-2.266 0-4.103 1.81-4.103 4.04 0 .316.036.625.106.92A11.708 11.708 0 0 1 1.393.754a3.964 3.964 0 0 0-.554 2.03c0 1.403.724 2.64 1.824 3.363A4.151 4.151 0 0 1 .805 5.64v.05c0 1.958 1.415 3.591 3.29 3.963a4.216 4.216 0 0 1-1.08.141c-.265 0-.522-.025-.773-.075a4.098 4.098 0 0 0 3.832 2.807 8.312 8.312 0 0 1-5.095 1.727c-.332 0-.658-.02-.979-.056a11.727 11.727 0 0 0 6.289 1.818c7.547 0 11.673-6.157 11.673-11.496l-.014-.523A8.126 8.126 0 0 0 20 1.907z"></path></svg>
      </span>
      <span class="social-media-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="social-icon-style" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M14.017 0h-8.07A5.954 5.954 0 0 0 0 5.948v8.07a5.954 5.954 0 0 0 5.948 5.947h8.07a5.954 5.954 0 0 0 5.947-5.948v-8.07A5.954 5.954 0 0 0 14.017 0zm3.94 14.017a3.94 3.94 0 0 1-3.94 3.94h-8.07a3.94 3.94 0 0 1-3.939-3.94v-8.07a3.94 3.94 0 0 1 3.94-3.939h8.07a3.94 3.94 0 0 1 3.939 3.94v8.07z"></path><path d="M9.982 4.819A5.17 5.17 0 0 0 4.82 9.982a5.17 5.17 0 0 0 5.163 5.164 5.17 5.17 0 0 0 5.164-5.164A5.17 5.17 0 0 0 9.982 4.82zm0 8.319a3.155 3.155 0 1 1 0-6.31 3.155 3.155 0 0 1 0 6.31z"></path><circle cx="15.156" cy="4.858" r="1.237"></circle></svg>
      </span>
      <span class="social-media-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="social-icon-style" viewBox="-2 -2 24 24" width="24" fill="currentColor"><path d="M19.959 11.719v7.379h-4.278v-6.885c0-1.73-.619-2.91-2.167-2.91-1.182 0-1.886.796-2.195 1.565-.113.275-.142.658-.142 1.043v7.187h-4.28s.058-11.66 0-12.869h4.28v1.824l-.028.042h.028v-.042c.568-.875 1.583-2.126 3.856-2.126 2.815 0 4.926 1.84 4.926 5.792zM2.421.026C.958.026 0 .986 0 2.249c0 1.235.93 2.224 2.365 2.224h.028c1.493 0 2.42-.989 2.42-2.224C4.787.986 3.887.026 2.422.026zM.254 19.098h4.278V6.229H.254v12.869z"></path></svg>
      </span>
      <span class="social-media-icon">
        <svg xmlns="http://www.w3.org/2000/svg" class="social-icon-style" viewBox="-2 -5 24 24" width="24" fill="currentColor"><path d="M15.812.017H4.145C1.855.017 0 1.852 0 4.116v5.768c0 2.264 1.856 4.1 4.145 4.1h11.667c2.29 0 4.145-1.836 4.145-4.1V4.116c0-2.264-1.856-4.1-4.145-4.1zM13.009 7.28L7.552 9.855a.219.219 0 0 1-.314-.196V4.35c0-.161.173-.266.318-.193l5.458 2.735a.216.216 0 0 1-.005.389z"></path></svg>
      </span>
    </div>
  </div>
  </div>
  

</footer>


<!-- <button nz-button [nzType]="'primary'" (click)="showEmailModal()"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isEmailVisible" nzTitle="The first Modal" (nzOnCancel)="handleEmailCancel()" (nzOnOk)="handleEmailOk()">
  <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
  </ng-container>
</nz-modal> -->