
<div class="d-flex justify-content-center form-area">
        <div class="new-ad-container ">
            <h3 class="placeholder-logo">Welcome to Link Cookie!</h3>
            <h5 class="signup-helper-text" style="text-align: center;">Follow these 3 easy steps to get linked!</h5>
            <div class="d-flex justify-content-center welcome-img">
            <img src="../../../assets/images/signup-welcome.png" class="d-block w-100 signup-img img-fluid" alt="...">
            </div>
        </div>  
</div>

<div class="mb-3">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="login-button" routerLink="../signup-one" style="max-width: 350px; margin: auto;">START</button>
        </div>
    </div>
  </div>