<div class="d-flex justify-content-center">
    <div class="signup-container ">
        
          <div class="signup-steps-content ">
            <h3 class="placeholder-logo">Account Information</h3>
            <h5 class="signup-helper-text" style="text-align: center;">Please enter your company's name and business field</h5>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control"  placeholder="Company Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Company Field">
                  </div>
              </form>
            </div>
    </div>  
</div> 