<div class="container">
  <div class="padded-section">
    <div class="section-heading">
      <div class="d-flex justify-content-center" style="margin-bottom: 10px">
        <h5 class="section-tag">TERMS</h5>
      </div>
      <h3 class="section-header">
        Terms & <span class="header-yellow">Conditions</span>
      </h3>
      <!-- <p class="section-description">We have a database full of talent ready to make you a success.</p> -->
    </div>

    <h3>Introduction</h3>
    <p style="margin: 0">
      Welcome to LinkCookie. We provide a platform where entrepreneurs can meet
      prospective employees. Users of this website may open an account as
      “Freelancers” (who are looking to introduce their services to potential
      employers), as an “Employer” or “Client” (who must complete our
      questionnaire), as a “Job Seeker” (who meets a profile providing
      educational, professional and other background information) or advertise
      services; and view Content made available to the general public.
    </p>
    <p>
      FREELANCERS: If you are a FREELANCER, you are welcome to upload
      information about your services and talent description. We will do our
      best to display the locked information only on linkcookie.com, and this
      will be visible to clientss that have logged in as members. However, we
      cannot guarantee that Clients/Employers who see your Locked Information do
      not distribute that information. We cannot guarantee that there will never
      be a software bug or a hacker attack that allows unauthorised viewing of
      the material.
    </p>
    <p>
      EMPLOYERS or CLIENT: The only people authorised to create Employer
      accounts on the Site are sophisticated employers with personal or
      professional looking at advertising or seeing to employ freelancers on the
      site. Employers and Clients must understand the risk of using or seeking
      services online, including the high likelihood of loss. We cannot promise
      that all advertisements and freelancers we introduce and offer you will
      satisfy your standards, but we will try.
    </p>
    <p>
      JOB SEEKERS: Individuals interested in employment with companies
      advertised on the Site may create profiles identifying their academic
      background, professional experience, past projects and other
      qualifications. Job seekers’ profiles will generally be publicly
      available; however, we only share job-seeking status, target role, and
      related information with specific recruiters and potential employers,
      including via our Talent Services.
    </p>
    <p>
      GENERAL USERS: Certain portions of the Site will be visible to users who
      have not signed up as Freelancers, Employers, or Job Seekers. Those users,
      nevertheless, are bound by this Agreement. Employers should be aware that
      information they provide that is not designated as “Locked” will be
      visible to everybody.
    </p>
    <p>
      By using LinkCookie, including simply viewing Content on the Site, you
      agree that you, and each person you allow to access LinkCookie through
      your account, will abide by the terms of this Terms of Service
      (“Agreement”), which are outlined in its entirety below. This Agreement is
      between you and Eternity Global, PLC (“we”, “EternityGlobal” or the
      “Company”), and it governs your access to and use of the services,
      websites, and applications offered by LinkCookie (the “Services”).
    </p>
    <p>
      IMPORTANT NOTICE REGARDING ARBITRATION: WHEN YOU AGREE TO THESE TERMS, YOU
      AGREE (WITH LIMITED EXCEPTION) TO RESOLVE ANY DISPUTE BETWEEN YOU AND THE
      LINK COOKIE THROUGH BINDING, INDIVIDUAL ARBITRATION RATHER THAN IN COURT.
      PLEASE REVIEW CAREFULLY SECTION XI (ARBITRATION) BELOW FOR DETAILS
      REGARDING ARBITRATION [(INCLUDING THE PROCEDURE TO OPT-OUT OF
      ARBITRATION)].
    </p>

    <h3>Table of Contents</h3>
    <ol>
      <li>User Obligations</li>
      <li>Privacy And Protection Of Personal Information</li>
      <li>Company Services And License</li>
      <li>Reservation Of The Company’s Rights</li>
      <li>Limits On The Company’s Obligations</li>
      <li>Copyright Policy</li>
      <li>Term And Termination</li>
      <li>Disclaimers; Limitations; Waivers Of Liability</li>
      <li>Disputes With Others</li>
      <li>Arbitration</li>
      <li>Miscellaneous</li>
    </ol>

    <nz-collapse>
      <nz-collapse-panel
        nzHeader="1. User Obligations"
        [nzActive]="true"
        [nzDisabled]="false"
      >
        <div class="justified">
            <p style="margin: 0">
                1.1. To Act Responsibly. You are promising to act responsibly – which
                means:
              </p>
              <div class="tab-first">
                <p>1.1.1. You are making the following Promises:</p>
                <p>
                  Requirements to Use the Services.
                  <br />
                  <br />
                  That you have the right, authority, and capacity to enter into this
                  Agreement on your behalf and behalf of any entity for whom you are
                  acting and to abide by all of the terms and conditions contained
                  herein, and that if any aspect of your participation in LinkCookie
                  violates provisions of the law to which you are subject, you will
                  cease using the Services and close your account;
                </p>
              </div>
              
              <div class="tab-second">
                <p>
                    1.1.1.1. That you are at least 16 years old, and that if you are less
                    than 18 years old, your parent or legal guardian has agreed to stand
                    behind any agreement you enter into as a participant on LinkCookie;
                    <br /> <br>
                    1.1.1.2. That you shall not use a false or deceptive name or an email
                    address owned or controlled by another person with the intent to
                    impersonate that person or for any other reason; <br /> <br>
                    1.1.1.3. That you shall not use a User ID name that is subject to any
                    rights of a person other than yourself without appropriate
                    authorisation; <br /> <br>
                    1.1.1.4. That you shall be solely responsible for maintaining the
                    confidentiality of your password; <br /> <br>
                    1.1.1.5. That you will update your registration information with the
                    Company as needed so that it remains accurate, correct and complete;
                    and <br /> <br>
                    1.1.1.6. You will conduct yourself professionally in your interactions
                    with LinkCookie and any other LinkCookie user.
                  </p>
              </div>

              <div class="tab-first">
                <p>1.1.2. Requirements are related to Content on LinkCookie.</p>
              </div>

              <div class="tab-second">
                <p>
                    1.1.2.1. That you will only provide LinkCookie with Content that you
                    have a right to provide to LinkCookie and to allow LinkCookie to
                    display through the Services, <br /> <br>
                    1.1.2.2. You have adequate rights to all copyrights, trademarks, trade
                    secrets, intellectual property or other material you provide for
                    display, publication or use by LinkCookie. <br /> <br>
                    1.1.2.3. That you understand that any other Content you find on or
                    through LinkCookie is the sole responsibility of the person who
                    originated such Content; <br /> <br>
                    1.1.2.4. That you understand that your Content may be republished, and
                    if you do not have the right to submit Content for such use, it may
                    subject you to liability and that LinkCookie will not be responsible
                    or liable for any use of your Content by LinkCookie by this Agreement;
                    <br /> <br>
                    1.1.2.5. That you are not relying on LinkCookie, and that you
                    understand that we do not endorse, support, represent or guarantee the
                    completeness, truthfulness, accuracy or reliability of any Content or
                    communications posted via the Services or endorse any opinions
                    expressed via the Services; <br /> <br>
                    1.1.2.6. That you understand that by using the Services, you may be
                    exposed to Content that might be offensive, harmful, inaccurate or
                    otherwise inappropriate and that you have no claim against LinkCookie
                    for any such material; and <br /> <br>
                    1.1.2.7. You understand that the Service may include advertisements or
                    other similar items, which may be related to Content, queries made
                    through the Services, or additional information. You have no claim
                    against LinkCookie for the placement of advertising or similar Content
                    on the Services or for displaying any Content or other information
                    from the Services. <br /> <br>
                  </p>
              </div>
              
              <div class="tab-first">
                <p>1.1.3. You are promising not to:</p>
              </div>
              
              <div class="tab-second">
                <p>
                    1.1.3.1. Expect LinkCookie to evaluate, confirm or otherwise stand
                    behind any user’s statements or recommend any Freelancer; <br /> <br>
                    1.1.3.2. Treat any Content, email or other information you receive as
                    a result of your access to the Services as a recommendation or
                    representation of any kind by LinkCookie, an affiliate of LinkCookie
                    or any employee, officer, director, representative or other agents of
                    the preceding (each a “Company Person”) on which you should rely
                    unless such information has been expressly identified as created by a
                    Company Person; <br /> <br>
                    1.1.3.3. Claim any ownership or other proprietary right in any
                    material, software or other intellectual property displayed on,
                    published by or otherwise available through LinkCookie, other than
                    Content, software or intellectual property that you own or otherwise
                    have rights to without regard for its appearance on LinkCookie; <br /> <br>
                    1.1.3.4. Copy or distribute Content except as specifically allowed in
                    this Agreement; <br /> <br>
                    1.1.3.5. Use any Content or other information acquired from Companies,
                    Persons, Job Seekers or Entrepreneurs, or otherwise through your use
                    of the Services, for commercial activity outside of the Services,
                    without prior written approval from the Company; <br /> <br>
                    1.1.3.6. Claim any right to access, view or alter any source code or
                    object code of LinkCookie; <br /> <br>
                    1.1.3.7. Market competing services to people you’ve identified through
                    LinkCookie.
                  </p>
              </div>
                    
              <p>
                1.2. Indemnify LinkCookie and Related Parties. You promise to hold the
                Company harmless against any damage that may happen to us due to your
                use of LinkCookie.
              </p>

              <div class="tab-first">
                <p>
                    1.2.1. Indemnity. You agree to indemnify and hold the Company. Any
                    Company Person harmless (including against costs and attorneys’ fees)
                    from any liabilities, losses, damages, costs and expenses (including
                    attorneys’ fees and expert fees) arising from or related to any claim
                    or demand made by any third party due to or arising out of your access
                    to or use of the Services, the violation of this Agreement by you, the
                    infringement or misappropriation by you, or any third party using your
                    account, of any intellectual property or other rights of any person or
                    entity, or for any Content posted through the Services by you
                    (including claims related to defamation, invasion of privacy or other
                    violation of a person’s rights). Your obligations under the preceding
                    indemnity may not be offset against any other claim you may have
                    against the Company or any Company Person. You remain solely
                    responsible for all Content that you upload, post, email, transmit, or
                    otherwise disseminate using, or in connection with, the Services. You
                    agree that the provisions in this paragraph will survive any
                    termination of your account(s) or the Services. <br> <br>
                    1.2.2. Release. You, at this moment, release any claims you may have
                    against LinkCookie and any Company Person that are in any way related
                    to the Services or your use of Content, including any representations,
                    recommendations or referrals you may receive as a result of your
                    registration with LinkCookie. You are solely responsible for your use
                    of the Services, for any Content you provide, and for any consequences
                    thereof, including the use of your Content by other users and
                    third-party partners.
                  </p>
              </div>
             
              <p>
                1.3. Confidentiality. By registering with LinCookie, or otherwise
                using the Services or viewing Content made available through
                LinkCookie, you may have an opportunity to see Locked Information. It
                is expected that you will use discretion in determining what you do
                with that information. You agree, however, that you will not republish
                any information you acquire through the Services via an Internet
                website, for which one of the principal purposes is to compete with
                LinkCookie.
              </p>
              <p>1.4. Other User Obligations.</p>

              <div class="tab-first">
                <p>
                    1.4.1. You promise to comply with the terms of the license outlined in
                    Section IV (Company Services and License) of this Agreement. <br>  <br>
                    1.4.2.
                    You are licensing to us the right to publish all Content you upload to
                    LinkCookie, including any comments or other forum posts you may offer
                    on the Site to provide the Services. Your Content will be viewable by
                    other users of the Services and through third party services and
                    websites. You should only provide Content that you are comfortable
                    sharing with others. <br> <br>
                    1.4.3. To the extent that LinkCookie is
                    determined, for any reason, not to be the licensee of any material you
                    have provided to us, including all rights of paternity, integrity,
                    disclosure and withdrawal and any other rights that may be known as or
                    referred to as “moral rights,” “artist’s rights,” “Droit moral,” or
                    the like (collectively “Moral Rights”), you at this moment ratify and
                    consent to any action that may be taken concerning such Moral Rights
                    by or authorised by LinkCookie and agree not to assert any Moral
                    Rights concerning it. You further agree that you will confirm any such
                    ratifications, consents and agreements from time to time as requested
                    by the Company. <br> <br>
                    1.4.4. You acknowledge that LinkCookie is not
                    obligated to pay you or cause any other party to pay you any
                    compensation concerning your activities on LinkCookie, or to feature
                    or otherwise display your Content on any web page. <br> <br>
                    1.4.5. You
                    acknowledge that you do not rely on the Company to monitor or edit the
                    Services (including emails initiated by individuals, regardless of
                    whether those individuals are otherwise associated with the Company)
                    and that the Services may contain Content that you find offensive or
                    which is untrue or misleading. You, at this moment, waive any
                    objections and claims you might have concerning viewing such Content. <br> <br>
                    1.4.6. You agree that this Agreement does not entitle you to any
                    support, upgrades, updates, add-ons, patches, enhancements, or fixes
                    for the Services (collectively, “Updates”). The Company, however, may
                    occasionally provide automatic Updates to the Services at its sole
                    discretion (and without any advance notice to you). Any such Updates
                    for the Services shall become part of the Services and subject to this
                    Agreement.
                  </p>
              </div>
        </div>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="2. Privacy and Protection of Personal Information"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          2.1. Privacy & Cookies Policy. LinkCookie values your privacy. Please
          review our Privacy & Cookies Policy to learn more about how we collect
          and use information about you via the Services. The Privacy & Cookies
          Policy explains how LinkCookie treats your personal information and
          protects your privacy when accessing LinkCookie and using the
          Services.  <br> <br>
          2.2. Amendments to the Privacy & Cookies Policy. We may
          amend the Privacy & Cookies Policy at our sole discretion. Your use of
          the Services following the date such amended Privacy & Cookies Policy
          is published will constitute consent to such amendments to the extent
          they do not have retroactive applicability. <br> <br>
          2.3. Data Processing
          Addendum. If you are a paying subscriber to the Services, to the
          extent that LinkCookie processes any Personal Data (as defined in the
          DPA) that is subject to the GDPR (as defined in the DPA), on your
          behalf, in the provision of the Services.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="3. Company Services and License"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          3.1. License to Use the Service. All right, titles and interests in
          and to the Services (excluding Content provided by users) are the
          exclusive property of LinkCookie and its licensors. The Services are
          protected by copyright, trademark, and other laws of both Cambodia and
          foreign countries. Except as expressly provided herein, nothing in
          this Agreement gives you a right to use the LinkCookie name or any
          LinkCookie trademarks, logos, domain names or other distinctive brand
          features. Subject to your acceptance and the terms of this Agreement,
          LinkCookie grants to you a non-assignable, non-exclusive,
          non-transferable, non-sublicensable, revocable, limited license to use
          the Services and related software [for your reasonable internal
          business purposes by the Agreement and any other guidelines and
          requirements that we may implement from time-to-time], provided that
          you: <br> <br>
        </p>

        <div class="tab-first">
            <p>
                3.1.1. do not use the license to engage in any commercial activity;
                3.1.2. do not modify the Content, except as described below; 3.1.3.
                attribute AngelList with a human and machine-followable link (an
                anchor tag) linking back to the page displaying the source of the
                Content on LinkCookie; 3.1.4. make a reasonable effort to update a
                particular piece of Content to the latest version on AngelList; and
                3.1.5. make an excellent attempt to delete Content that has been
                deleted on LinkCookie.
              </p>
        </div>
        
        <p>
          3.2. No Claim to Any Rights in Your Information. We promise not to
          claim any ownership interest in the Content provided by you to us
          solely because you have provided it. However, we will declare a
          license sufficient to display such items through LinkCookie in
          connection with our Services (including the Talent Services).
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="4. Reservation of the Company's Rights"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          4.1. Right to Control Content. LinkCookie may, but is not required to
          monitor or control the Content posted via the Services. Our failure to
          exercise this right does not give you any right to claim LinkCookie.
          Any Content uploaded through the Services may be deleted without
          notice to you. <br> <br>
          4.2. Right to Discontinue the Services. LinkCookie
          reserves the right to discontinue the Services or change the Services
          in any way and at any time, with or without notice to you, without
          liability. <br> <br>
          4.3. Right to Terminate User Access. LinkCookie reserves
          the right to terminate your access to the Services without notice and,
          if you violate this Agreement, pursue other remedies at law or in
          equity. We may delete your account for any reason or no reason at all.
          If we delete your account, you will lose all access to any
          information, connections or other features that may have value to you
          that may have been associated with your account.  <br> <br>
          4.4. Right to Refuse
          or Cancel Registration. The Company has the right to refuse
          registration of or cancel your user account at its discretion for any
          reason or no reason. In addition, the Company reserves the right at
          all times (but will not have an obligation) to remove or refuse to
          distribute any Content on the Services and to terminate users and
          reclaim usernames. We also reserve the right to access, read,
          preserve, and disclose any information (including Content) as we
          reasonably believe necessary to (i) satisfy any applicable law,
          regulation, legal process, or governmental request, (ii) enforce this
          Agreement (including investigation of potential violations hereof),
          (iii) detect, prevent or otherwise address fraud, security or
          technical issues, (iv) respond to user support requests or (v) protect
          the rights, property or safety of AngelList, its users and the public. <br> <br>
          4.5. User Acknowledgement. Without limiting the generality of the
          preceding, you expressly acknowledge that the Company is exempt from
          liability to any person for any claim based upon its termination of an
          account or disabling of access to or removal of any Content, including
          material it believes, in its sole discretion to violate this
          Agreement, regardless of whether the material ultimately is determined
          to be infringing or otherwise prohibited, and irrespective of whether
          such termination or disabling has the effect of reducing the value of
          any Content or opportunities that might otherwise have been available
          to you. By using the Services, you agree that notice to you through an
          email to your profile’s email address constitutes reasonable efforts
          to notify you of any removal or disabling if such information is
          required. <br> <br>
          4.6. Comments, Feedback, Suggestions, Ideas, And Other
          Submissions. The Services may invite you to chat or participate in
          blogs, message boards, and other functionality. They may provide you
          with the opportunity to create, submit, post, transmit, publish or
          distribute Content to the Company or to/via the Services. Any such
          material you transmit to the Company or otherwise through the Services
          will be treated as non-confidential and non-proprietary. All comments,
          feedback, suggestions, ideas, forum posts, and other submissions
          disclosed, submitted or offered to the Company in connection with the
          use of the Services or otherwise, and any chat, blog, message board,
          online forum, text, email or other communication with the Company, is
          at this moment licensed by you to the Company on a nonexclusive,
          worldwide, royalty-free, perpetual, transferable and fully
          sublicensable basis. For more information, see our Privacy & Cookies
          Policy.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="5. Limits on the Company's Obligations"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          5.1. Introductions. We are not obligated to introduce you to any
          Freelancer, Employer or Job Seeker. <br> <br>
          5.2. Verifying Due Diligence. We
          are not responsible for doing diligence on the Freelancers, Clients,
          Job Seekers or other users you meet through LinkCookie or verifying
          any representations, materials or additional information provided by
          Entrepreneurs, Clients, Job Seekers or other users you. <br> <br>
          5.3. Client
          Confidentiality. We are not obligated to maintain the confidentiality
          of any Content you give us other than Locked Information. Concerning
          Locked Information, we are not obligated to protect it other than by
          designating it as such. <br> <br>
          5.4. Intellectual Property Rights. The Company
          has no obligation to monitor or enforce any intellectual property
          rights associated with the Content you provide to us. Still, the
          Company does have the right to enforce such rights through any means
          it sees fit, including bringing and controlling actions on your
          behalf.  <br> <br>
          5.5. Business Opportunities. If the Employers engage in any
          business, we are not obligated to make that opportunity available to
          anyone else. <br> <br>
          5.6. No Endorsement of Content. The Company does not
          control or endorse the Content, messages or information found in the
          Services or external websites that may be linked to or from
          LinkCookie. Therefore, the Company expressly disclaims any
          responsibility for it. <br> <br>
          5.7. No Obligation to Display Content. The
          Company has no obligation to accept, display, review, verify, monitor
          or maintain any Content submitted by users, user forum posts,
          commentary, ratings or compliments (“Comments”). We have the right to
          delete Content or Comments from the Services without notice. The
          Company may move, re-format, edit, alter, distort, remove or refuse to
          exploit Content or Comments without notice to you and liability.
          Notwithstanding the preceding rights, the Company reserves the right
          to treat Content provided by users and Comments as Content stored at
          the direction of users, for which the Company will not exercise
          editorial control except as required to enforce the rights of third
          parties and applicable Content restrictions when violations are
          brought to the Company’s attention. <br> <br>
          5.8. They are verifying
          Advertisement Accuracy. The Services may contain or deliver
          advertising and sponsorships. Advertisers and sponsors ensure that
          material submitted for inclusion is accurate and complies with
          applicable laws. We are not responsible for the illegality or any
          error, inaccuracy or problem in an advertiser’s or sponsor’s Content.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="6. Copyright Policy"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          6.1. LinkCookie respects the intellectual property rights of others
          and expects users of the Services to do the same. We will respond to
          notices of alleged copyright infringement that comply with applicable
          law and are properly provided to us. <br> <br>
          6.2. If you believe that your
          copyrighted work has been copied without your authorisation and is
          available on or in the Services in a way that may constitute copyright
          infringement, or if you believe that any material on the Services
          violates this Agreement or your intellectual property rights, please
          notify the Company as soon as possible by sending an email to
          talk2us@linkcookie.com,: (i) identification of the material that is
          claimed to be infringing or to be the subject of infringing activity
          and that is to be removed or access to which is to be disabled, and
          information reasonably sufficient to permit us to locate the material;
          (ii) identification of the copyrighted work claimed to have been
          infringed; (iii) your contact information, including your address,
          telephone number, and an email address; (iv) a statement by you that
          you have a good faith belief that use of the material in the manner
          complained of is not authorised by the copyright owner, its agent or
          the law; (v) a statement that the information in the notification is
          accurate, and, under penalty of perjury, that you are authorised to
          act on behalf of the copyright owner; and (vi) a physical or
          electronic signature of the copyright owner or a person authorised to
          act on their behalf.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="7. Term and Termination"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          Unless terminated by the Company, this Agreement will remain in full
          force and effect while you use any services. Subject to the last
          sentence of this Section VIII, you may terminate this Agreement by
          deleting all Content you have provided to LinkCookie and ceasing to
          use the Services. The Company may terminate this Agreement at any
          time, particularly if you are suspected of violating any provision of
          this Agreement. Upon termination of this Agreement for any reason, you
          shall destroy and remove from all computers and other storage media
          all copies of any intellectual property owned by the Company or any
          other user of the Services that you acquired via use of the Services.
          Your representations in this Agreement and the provisions of Section
          II (User Obligations), Section XI (Arbitration) and any other
          provision of this Agreement that is designed to survive termination
          shall survive any termination or expiration of this Agreement.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="8. Disclaimers; Limitations; Waivers of Liability"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          8.1. YOU EXPRESSLY AGREE THAT ACCESS TO AND USE OF THE SERVICES IS AT
          YOUR SOLE RISK AND IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES
          OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
          WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF NON-INFRINGEMENT,
          MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE (EXCEPT ONLY TO
          THE EXTENT PROHIBITED UNDER THE LAWS APPLICABLE TO TERMS OF SERVICE
          WITH ANY LEGALLY REQUIRED WARRANTY PERIOD TO THE SHORTER OF THIRTY
          DAYS FROM FIRST USE OR THE MINIMUM PERIOD REQUIRED). WITHOUT LIMITING
          THE PRECEDING, NEITHER THE COMPANY NOR ITS AFFILIATES OR SUBSIDIARIES,
          OR ANY OF THEIR DIRECTORS, EMPLOYEES, AGENTS, ATTORNEYS, THIRD-PARTY
          CONTENT PROVIDERS, DISTRIBUTORS, LICENSEES OR LICENSORS (COLLECTIVELY,
          “COMPANY PARTIES”) WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED,
          BUG-FREE OR ERROR-FREE. <br> <br>
          8.2. TO THE FULLEST EXTENT PERMITTED BY LAW,
          THE DISCLAIMERS OF LIABILITY CONTAINED HEREIN APPLY TO ANY AND ALL
          DAMAGES OR INJURY WHATSOEVER CAUSED BY OR RELATED TO THE USE OF, OR
          INABILITY TO USE, THE SERVICES UNDER ANY CAUSE OF ACTION WHATSOEVER OF
          ANY JURISDICTION, INCLUDING, WITHOUT LIMITATION, ACTIONS FOR BREACH OF
          WARRANTY, BREACH OF CONTRACT OR TORT (INCLUDING NEGLIGENCE) AND THAT
          THE COMPANY PARTIES SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
          INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE OR CONSEQUENTIAL DAMAGES IN
          ANY WAY WHATSOEVER ARISING OUT OF THE USE OF, OR INABILITY TO USE, THE
          SERVICES OR OTHERWISE IN CONNECTION WITH THIS AGREEMENT. YOU FURTHER
          SPECIFICALLY ACKNOWLEDGE THAT THE COMPANY PARTIES ARE NOT LIABLE, AND
          YOU AGREE NOT TO SEEK TO HOLD THE COMPANY PARTIES LIABLE FOR THE
          CONDUCT OF THIRD PARTIES, INCLUDING OTHER USERS OF THE SERVICES AND
          OPERATORS OF EXTERNAL WEBSITES, AND THAT THE RISK OF THE SERVICES AND
          EXTERNAL WEBSITES AND INJURY FROM THE FOREGOING RESTS ENTIRELY WITH
          YOU. <br> <br>
          8.3. The Company is not responsible for any technical malfunction
          or other problems of any telephone network or service, computer
          systems, servers or providers, computer or mobile phone equipment,
          software, failure of email or media players on account of technical
          problems or traffic congestion on the Internet or at any website or
          combination thereof, including injury or damage to your or any other
          person’s computer, mobile phone or other hardware or software, related
          to or resulting from using or downloading materials in connection with
          the web and relationship with the Services, including any mobile
          software. Under no circumstances will the Company be responsible for
          any loss or damage, including any loss or damage to any content or
          personal injury or death, resulting from anyone’s use of the Services,
          any Content or third-party applications, software or Content posted on
          or through the Services or transmitted to users or any interactions
          between users of the Services, whether online or offline.  <br> <br>
          8.4. We make
          no warranty and disclaim all responsibility and liability for the
          completeness, accuracy, availability, timeliness, security or
          reliability of the Services or any Content thereon or any content you
          receive due to your relationship with LinkCookie. LinkCookie will not
          be responsible or liable for any harm to your computer system, loss of
          data or other damage that results from your access to or use of the
          Services or any Content. You also agree that LinkCookie has no
          responsibility or liability for the deletion of, or the failure to
          store or to transmit, any Content and other communications maintained
          by the Services. We make no warranty that the Services will meet your
          requirements or be available on an uninterrupted, secure or error-free
          basis. Whether oral or written, no advice or information obtained from
          LinkCookie or through the Services will create any warranty not
          expressly made herein. <br> <br>
          8.5. UNDER NO CIRCUMSTANCES WILL ANY COMPANY
          PERSON BE LIABLE TO YOU FOR MORE THAN THE AMOUNT YOU HAVE PAID THE
          COMPANY IN THE NINETY (90) DAYS IMMEDIATELY PRECEDING THE DATE ON
          WHICH YOU FIRST ASSERT ANY SUCH CLAIM. <br> <br>
          8.6. To the extent any
          provision(s) relating to arbitration, disclaimer, waiver of liability
          or any other rights and obligations set forth herein is not
          permissible or enforceable under foreign laws as applied to users from
          such foreign jurisdictions, each such provision shall be deemed
          removed and invalid, but all remaining provisions shall be in full
          force and effect.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="9. Disputes with others"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          We reserve the right but have no obligation to monitor and manage
          disputes between you and other Services users. Suppose you have a
          dispute with other users. In that case, you release the Company. You
          agree to indemnify the Company from claims, demands, and damages
          (actual and consequential) of every kind and nature, known and
          unknown, arising out of or connected with such a dispute.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="10. Arbitration"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">
          10.1. Informal Negotiations. To expedite resolution and control the
          cost of any dispute, controversy or claim related to this Agreement
          (or the breach, termination, enforcement, interpretation or validity
          thereof) (“Dispute”), you and the Company agree first to attempt to
          negotiate any Dispute (except those Disputes expressly provided below)
          informally for at least thirty (30) days before initiating any
          arbitration. Such informal negotiations commence upon written notice
          from one person to the other. <br> <br>
          10.2. Binding Arbitration at Option of
          Either Party. Suppose you and the Company cannot resolve a Dispute
          through informal negotiations. In that case, either you or the Company
          may elect to have the final and exclusively resolved by confidential
          binding arbitration, not in a class, representative, or consolidated
          action or proceeding. <br> <br>
          10.3. Restrictions/No Class Actions. You and the
          Company agree that any claim brought in connection with a Dispute,
          whether resolved through arbitration, will be brought between the
          Company and you individually. You may not assert any such claim
          against Company as a plaintiff or class member in any purported class
          or representative proceeding. To the fullest extent permitted by law,
          (1) no arbitration shall be joined with any other; (2) no Dispute
          between you and the Company is to be arbitrated on a class-action
          basis or will utilise class action procedures; and (3) you may not
          bring any Dispute in a purported representative capacity on behalf of
          the general public, other users of the Services or any other persons.
          If this specific provision is determined to be unenforceable, then the
          entirety of this Section XI (Arbitration) will be null and void. <br> <br>
          10.4.
          Exceptions to Informal Negotiations and Arbitration. You and the
          Company agree that the following Disputes are not subject to the above
          provisions concerning informal negotiations and binding arbitration:
          (1) any Disputes seeking to enforce or protect, or concerning the
          validity of, any of your or the Company’s intellectual property
          rights; and (2) any claim for injunctive relief.
        </p>
      </nz-collapse-panel>

      <nz-collapse-panel
        nzHeader="11. Miscellaneous'"
        [nzActive]="false"
        [nzDisabled]="false"
      >
        <p style="margin: 0">11.1. Availability of Services.</p>
        <div class="tab-first">
            <p>
                11.1.1. The Company operates and controls the Services from its
                offices in Cambodia. The Company makes no representation that the
                Services are appropriate or available in other locations. The
                information provided on or through the Services is not intended for
                distribution to or use by any person or entity in any jurisdiction or
                country where such distribution or use would be contrary to law or
                regulation or subject the Company to any registration requirement
                within such jurisdiction or country. Accordingly, those persons who
                choose to access the Services from other locations do so on their
                initiative and are solely responsible for compliance with local laws,
                if and to the extent local laws are applicable.
              </p>
        </div>
        
        <p>
          11.2. Injunctive Relief. You acknowledge that the rights granted, and
          obligations made hereunder to the Company are of a unique and
          irreplaceable nature, the loss of which shall irreparably harm the
          Company and which cannot be replaced by monetary damages alone so that
          the Company shall be entitled to injunctive or other equitable relief
          (without the obligations of posting any bond or surety) in the event
          of any breach or anticipatory breach by you. You irrevocably waive all
          rights to seek injunctive or other equitable relief and agree to limit
          your claims to claims for monetary damages (if any). <br> <br>
          11.3. Amendments
          to this Agreement. We may amend this Agreement at any time in our sole
          discretion, effective upon posting the amended Terms of Service at the
          domain of www.linkcookie.com where the prior version of this Agreement
          was posted or by communicating these changes through any written or
          another contact method we have established with you. Your use of the
          Services following the date on which such amended Terms are published
          will constitute consent to such amendments. Neither the course of
          conduct between the parties nor trade practice will act to modify this
          Agreement. <br> <br>
          
          11.4. Waiver and Severability.
        </p>
        <div class="tab-first">
            <p>
                11.4.1. The failure of the Company to require or enforce strict
                performance by you of any provision of this Agreement or to exercise
                any right under this Agreement shall not be construed as a waiver or
                relinquishment of the Company’s right to assert or rely upon any such
                provision or right in that or any other instance. The Company may
                choose to enforce certain portions of this Agreement more strictly or
                interpret specific conditions more strictly against certain users than
                against users in general. Such disparate treatment shall not be
                grounds for failing to comply with all of this Agreement.
              </p>
        </div>
        
        <p>
          11.5. Section Headings; Verification Documentation; Waiver of
          Execution Defenses. The section headings used herein are for
          convenience only and shall not be given any legal import. Upon the
          Company’s request, you will furnish the Company with any
          documentation, substantiation or releases necessary to verify your
          compliance with this Agreement. You agree that this Agreement will not
          be construed against the Company by having drafted them. You, at this
          moment, waive any defences you may have based on the electronic form
          and the lack of signing by the parties hereto to execute this
          Agreement.  <br> <br>
          11.6. Prohibition of Assignment. You may not assign this
          Agreement without the Company’s prior written consent. Any attempted
          assignment in contravention of this provision will be null and void. <br> <br>
          11.7. Entire Agreement. This Agreement contains the complete
          understanding of you and the Company, supersedes all prior versions of
          the parties hereto relating to the subject matter hereof, and cannot
          be changed or modified by you except as posted on the Services by the
          Company. No waiver by either party of any breach or default hereunder
          shall be deemed a waiver of any preceding or subsequent breach or
          default. <br> <br>
          11.8. Statute of Limitations. You and the Company both agree
          that regardless of any statute or law to the contrary but only to the
          extent permissible by law in each relevant jurisdiction, any claim or
          cause of action arising out of or related to the use of the Services,
          this Agreement or our Privacy & Cookies Policy must be filed within
          ONE (1) YEAR after such claim or cause of action arose or be forever
          barred. <br> <br>
          11.9. No Third-Party Beneficiaries. This Agreement is between
          you and the Company. No user has any rights to force the Company to
          enforce any rights it may have against you or any other user, except
          that Entrepreneurs may enforce their intellectual property rights
          related to Content offered through the Services.
        </p>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<div class="spacer"></div>
