


<div class="signup-page">
  <div class="container card-control">
    <div class="signup-section">
      <div class="row top-bar">
        <h3 class="signup-top"><img src="../../../assets/images/linkcookie-logo.png" class="img-fluid navbar-logo" alt=""></h3>
        <div class="col-sm-12 d-flex justify-content-center stepper-step">
          <!-- <span>Step {{ currentStep }}/5</span> -->
        </div>
      </div>
      <!-- <div class="ad-progress-bar">
        <nz-progress
          [nzPercent]=" progressBar "
          [nzStrokeColor]="{ '0%': '#ffd36e', '100%': '#ffa104' }"
          nzStatus="active"
        ></nz-progress>
      </div> -->
      <router-outlet></router-outlet>
      <!-- <div class="mb-3">
        <div class="row">
            <div class="col">
                <button class="login-button" (click)="navigateToPrevious()">{{ previousText }}</button>
            </div>
            <div class="col">
                <button class="login-button" (click)="navigateToNext()" >{{nextText}}</button>
            </div>
        </div>
      </div> -->
      <div class="go-home-section">
        <a routerLink="/home/welcome" class="go-home"><i class="bi bi-arrow-left button-icon"></i>  Go Home</a>
    </div>
    </div>
  </div>
</div>


