  <nav class="navbar navbar-expand-lg fixed-top navbar-light main-nav">
    <div class="container">
      <a class="navbar-brand" routerLink="welcome"><img src="../../../assets/images/linkcookie-logo.png" class="img-fluid navbar-logo" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="24" fill="currentColor"><path d="M1 0h6a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0 8h8a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm0-4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z"></path></svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-landing responsive-click" routerLink="welcome" routerLinkActive="active"> HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-landing responsive-click" routerLink="for-recruiters" routerLinkActive="active">TALENT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-landing responsive-click" routerLink="for-jobseekers" routerLinkActive="active">JOBS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-landing responsive-click" routerLink="tenders" routerLinkActive="active">TENDERS</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link nav-landing" routerLink="contact-us" routerLinkActive="active">CONTACT US</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link nav-landing responsive-click" routerLink="/login" routerLinkActive="active">LOG IN</a>
          </li>
          <li class="nav-item">
            <button class="btn header-primary responsive-click" routerLink="/signup" routerLinkActive="active">
              GET STARTED
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>


