<div class="d-flex justify-content-center">
    <div class="signup-container ">
        
          <div class="signup-steps-content ">
            <h3 class="placeholder-logo">Where are you based?</h3>
            <h5 class="signup-helper-text" style="text-align: center;">We need to know your location for better suggestions</h5>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Country">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Business Address">
                  </div>
                  <div class="mb-3 button-section">
                    <div class="row">
                        <div class="col">
                            <button class="login-button" routerLink="../signup-two">PREVIOUS</button>
                        </div>
                        <div class="col">
                            <button class="login-button" routerLink="../signup-four" >NEXT</button>
                        </div>
                    </div>
                  </div>
              </form>
            </div>
    </div>  
</div> 