<div class="d-flex justify-content-center">
    <div class="signup-container ">
        
          <div class="signup-steps-content ">
            <h3 class="placeholder-logo">Company Location</h3>
            <h5 class="signup-helper-text" style="text-align: center;">Please enter the country of incorporation and address</h5>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Country">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" aria-describedby="emailHelp"  placeholder="Business Address">
                  </div>
              </form>
            </div>
    </div>  
</div> 