 <h3 class="placeholder-logo">WHAT DO YOU WANT TO HIRE FOR?</h3>
          <div class="d-flex justify-content-center form-area">
                  <div class="new-ad-container ">
                      <form [formGroup]="form" (ngSubmit)="submit()">
                        <div class="row radio-selections">
                          <div class="col-sm-6">
                            <div class="radio-card">
                              <div class="radio-img-section d-flex justify-content-center">
                                <img src="../../../assets/images/project-ad.png" class="d-block w-100 img-fluid radio-img" alt="...">
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="jobType" id="project" formControlName="jobType" value="project">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Project
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="radio-card">
                              <div class="radio-img-section d-flex justify-content-center">
                                <img src="../../../assets/images/job-ad.png" class="d-block w-100 img-fluid radio-img2" alt="...">
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="jobType" id="job" formControlName="jobType" value="job">
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Job
                                </label>
                              </div>
                              <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
                            </div>
                          </div>
                        </div>
                        </form>
                  </div>  
          </div>


          <!-- <div class="container">
            <h1>Angular Radio Button Example - tutsmake.com</h1>
                 
            <form [formGroup]="form" (ngSubmit)="submit()">
                    
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <div>
                      <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                      <label for="male">Male</label>
                   </div>
           
                   <div>
                      <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                      <label for="female">Female</label>
                   </div>
                   
                </div>
                 
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
            </form>
        </div> -->